html {
    height: 100%;
    width: 100%;
}

body {
    background-color:#F2F9FF;
    background-image: url(images/bg_image.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width:100vw;
    height:100vh;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    padding-left: 220px;
    padding-right: 220px;
    height: 100px;
    text-align: center;
}

header h3 {
    font-size: 70px;
    color: rgb(181, 21, 144);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    background-color:#ffcce1b8;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: rgb(239, 84, 164);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
 
nav a:visited {
    color:rgb(254, 116, 215);
    background-color: transparent;
    text-decoration: none;
}
 
nav a:hover {
    color:#ff90eb;
    background-color: transparent;
    text-decoration: underline;
}
 
nav a:active {
    color:rgb(239, 84, 164);
    background-color: transparent;
    text-decoration: underline;

}
 
main {
    text-align: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color:#d4bee4b4;
    border-radius: 5px;
}

.logo {
    align-items: center;
    text-align: center;
}

.logo img {
    height: 150px;
    width: 400px;
    margin: 0;
}

.play img {
    height: 150px;
    width: 150px;
    cursor: pointer;
}

form {
    font-size: 16px;
    line-height: 20px;
    color: rgb(97, 17, 132);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.login {
    padding-top: 10px;
    padding-bottom: 10px;
}

.info {
    padding-top: 10px;
    padding-bottom: 10px;
}

.gender {
    padding-top: 10px;
    padding-bottom: 10px;
}

.houses {
    padding-top: 10px;
    padding-bottom: 10px;
}

.houses img {
    height: 105px;
    width: 95px;
}

.select {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border-style: hidden;
    background-color: #F2F9FF;
}

.done {
    padding-top: 10px;
    padding-bottom: 10px;
}

.done button {
    background-color: #F2F9FF;
    color:#3B1E54;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:15px;
    margin-top: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 5px;
    border-style: hidden;
    margin: 0;
}

footer {
    background-color:#fff5d7b7;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    color: rgb(239, 84, 164);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    border-radius: 5px;
}

footer a {
    text-decoration: none;
    color: rgb(239, 84, 164);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
}
 
footer a:visited {
    color:rgb(254, 116, 215);
    background-color: transparent;
    text-decoration: none;
}
 
footer a:hover {
    color:#ff90eb;
    background-color: transparent;
    text-decoration: underline;
}
 
footer a:active {
    color:rgb(239, 84, 164);
    background-color: transparent;
    text-decoration: underline;
}